@import "variables";
@import "mixins";

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

body {
  font-family: $sourceSansPro;
  background: $bg-body;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $color-body;
}

a {
  color: inherit;

  @include hover-focus() {
    text-decoration: none !important;
    color: inherit;
  }
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.h-full {
  height: 100%;
}

.error-message {
  color: #f0000c;
}

button {
  &:focus {
    outline: 0;
  }
}

input, textarea {
  &.error {
    border: 1px solid #f0000c !important;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.footer {
  padding: 4rem 0;
  font-size: 1rem;
  color: $dark-blue;
  background-color: #e5e5e5;

  .footer-col {
    margin-bottom: 1.5rem;
  }

  .footer-logo {
    padding: 0.75rem 0;
  }

  .company-name {
    font-weight: 500;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .footer-contact {
    .icon {
      width: 1.5rem;
    }

    .contact-item {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  .footer-licence {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .footer-link {
    padding: 0.5rem 15px;
    font-weight: 500;

    &.active {
      font-weight: 700;
    }

    @include hover-focus-active {
      font-weight: 700;
    }
  }

  .feedback {
    padding: 0.5rem 0;
  }

  .feedback-form {
    .input-field {
      padding: 10px 20px;
      border: 0;
      background-color: #f4f4f4;

      &::placeholder {
        font-family: $sourceSansPro;
        font-style: italic;
        font-size: 1.125rem;
        color: #888888;
        font-weight: 300;
      }
    }

    .btn-feedback-submit {
      padding: 0.875rem 3rem;
      background-color: $dark-blue;
      color: $light-yellow;
      font-size: 1.125rem;
      font-family: $sourceSansPro;
      font-weight: 400;
    }
  }

}

.text-red {
  color: $main-red;
}

.text-green {
  color: $main-green;
}

.header {
  font-family: 'Source Sans Pro', sans-serif;
  height: 80px;
  background-color: #374957;
  display: flex;
  color: #e9d9c0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    flex: 0 0 80px;
  }
  .right-menu {
    display: flex;
    align-items: center;
    .menu-item {
      margin-right: 25px;
      .fa-facebook {
        color: #374957;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width: $xs-width) {
    height: 68px;
    .container {
      flex: 1 1 auto;
    }
    .menu-item {
      margin-right: 15px !important;
      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
}

.search {
  margin-bottom: 65px;
  background-color: #ffffff;
  form {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  input {
    font-family: inherit;
    padding-left: 30px;
    border: 0;
    border-radius: 0;
    height: 55px;
  }
  input[type=submit] {
    background: url("/images/icon_search.svg") no-repeat;
    border: 0;
    display: block;
    height: 25px;
    width: 25px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

.red-border {
  border-color: indianred !important;
}

.sidebar {
  font-family: 'Source Sans Pro', sans-serif;
  .sidebar-item {
    border: 0;
    margin-bottom: 65px;
    border-radius: 0;
    .card-header {
      min-height: 60px;
      padding-left: 30px;
      background-color: #ffffff;
      font-size: 21px;
      font-weight: 600;
      color: #364956;
      border: 0;
      .sidebar-head-text {
        font-size: 16px;
        font-weight: 300;
      }
    }
    .card-block {
      padding: 0;
      border-radius: 0;
      .subscribe {
        position: relative;
        input[type=text] {
          font-family: inherit;
          padding-left: 30px;
          background-color: #F3EBDD;
          color: #888888;
          border-radius: 0;
          border: 0;
          font-size: 18px;
          height: 60px;
          &::-webkit-input-placeholder {
            font-weight: 300;
          }
        }
        .button-subscribe {
          font-family: inherit;
          position: absolute;
          cursor: pointer;
          border: 0;
          right: 0;
          top: 0;
          height: 60px;
          width: 60px;
          background-color: #364956;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
        }
      }
    }
    .tab {
      .nav {
        border: 0;
        .nav-link {
          font-size: 21px;
          padding-left: 30px;
          border: 0;
          color: #888888;
          position: relative;
          .line {
            display: none;
          }
        }
        .active {
          .line {
            display: block;
            border-bottom: 1px solid #dddddd;
            margin-top: 15px;
            width: 110%;
            margin-left: -4px;
          }
          font-weight: 600;
          color: #364956;
        }
      }
      .tab-content {
        padding: 10px 30px 60px 30px;
        .article-title {
          margin-bottom: 12px;
          font-size: 18px;
          &:last-child {
            margin-bottom: 0;
          }
          color: #888888;
          &:hover {
            color: #6D9BFF;
          }
        }
      }
    }
  }
  @media screen and (max-width: $xs-width) {
    padding-left: 5px;
    padding-right: 5px;
    .sidebar-item {
      margin-bottom: 30px;
    }
    .tab {
      .nav {
        .nav-link {
          padding-left: 20px !important;
        }
      }
    }
    .mb-xs-30 {
      margin-bottom: 30px;
    }
  }
}

.navbar {
  background-color: #314653;
  color: $light-yellow;
  border-bottom: 1px solid $main-white;

  .wrapper {
    position: relative;
    font-family: $quickSand;
    font-size: 1.125rem;

    .mobile-logo {
      display: inline-flex;
      height: 1.5rem;

      .logo {
        max-height: 100%;
      }
    }

    .title {
      font-weight: 500;
    }

    .slogan {
      font-weight: 100;
    }
  }

  .navbar-btn {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    color: $main-white;
    z-index: 10;

    .icon {
      font-size: 1.5rem;
    }
  }

  .navbar-menu {
    height: 0;
    display: none;
    @include transition(height 1s, display 1s);

    &.show {
      height: auto;
      display: block !important;
    }
  }
}
