@import "variables";

@mixin hover-focus() {
  &:hover, &:focus {
    @content
  }
}

@mixin hover-focus {
  &:focus,
  &:hover {
    @content
  }
}

@mixin textGradient($from: $main-yellow, $to: $main-blue) {
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from($from), to($to));
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin boxShadow($attributes) {
  -webkit-box-shadow: $attributes;
  -moz-box-shadow: $attributes;
  box-shadow: $attributes;
}

@mixin bottomLineGradient($fromColor: $main-yellow, $toColor: $main-blue, $width: 100%, $height: 1px) {
  content: ' ';
  position: absolute;
  bottom: 0;
  display: block;
  width: $width;
  height: $height;
  background-image: -webkit-linear-gradient(left, $fromColor 0%, $toColor 100%);
  background-image: -moz-linear-gradient(left, $fromColor 0%, $toColor 100%);
  background-image: -o-linear-gradient(left, $fromColor 0%, $toColor 100%);
  background-image: linear-gradient(to right, $fromColor 0%, $toColor 100%);
}

@mixin hover-focus-active {
  &:focus,
  &:active,
  &:hover {
    @content
  }
}

@mixin forSmall() {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin transition($attributes...) {
  -webkit-transition: $attributes;
  -moz-transition: $attributes;
  -ms-transition: $attributes;
  -o-transition: $attributes;
  transition: $attributes;
}

@mixin animation($name: '', $duration: 1s, $count: infinite) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
  animation-iteration-count: $count;
}
