
$default-color: #fafafa;

//Button for crud
$button-create: #00B393;
$button-create-hover: #80CBC4;
$button-update: #569CEB;
$button-update-hover: #4FC3F7;
$button-delete: #FD5B5C;
$button-delete-hover: #E57373;

$bg-body: #ffffff;
$color-body: #575757;

$fontHelvetica: 'Helvetica Neue Light', sans-serif;
$fontHelveticaRegular: 'Helvetica Neue Regular', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$placeholderColor: #999999;
$quickSand: "QuickSand", sans-serif;
$sourceSansPro: 'Source Sans Pro', sans-serif;
$sourceSansProBold: 'Source Sans Pro Bold', sans-serif;
$sourceSansProSemibold: 'Source Sans Pro Semibold', sans-serif;
$sourceSansProItalic: 'Source Sans Pro Italic', sans-serif;
$sourceSansProLightItalic: 'Source Sans Pro LightItalic', sans-serif;
$sourceSansProBlack: 'Source Sans Pro Black', sans-serif;
$sourceSansProBlackItalic: 'Source Sans Pro BlackItalic', sans-serif;

$main-blue: #748da3;
$dark-blue: #364956;
$light-blue: #b3bfc9;

$main-yellow: #f0cb8d;
$dark-yellow: #d8b478;
$light-yellow: #ebddc6;

$main-white: #ffffff;
$xs-width: 576px;
