
$default-color: #fafafa;

//Button for crud
$button-create: #00B393;
$button-create-hover: #80CBC4;
$button-update: #569CEB;
$button-update-hover: #4FC3F7;
$button-delete: #FD5B5C;
$button-delete-hover: #E57373;

$bg-body: #ffffff;
$color-body: #575757;