.Home {
  font-size: 16px;
  font-family: "GothamRounded", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 25;
  position: absolute;
  left: 271.937px;
  top: -120.5px;
  z-index: 8;
}
