@import "variables";
@import "mixins";
@import "keyframes";

body {
  font-size: 1.125rem;
  font-family: $sourceSansPro;
  color: $dark-blue;
}

.text-gradient {
  @include textGradient;
}

.toggle-content {
  @include forSmall {
    display: none;
  }
}

.btn-tgl-content {
  display: none;

  @include forSmall {
    display: inline-block;
  }
}

//  Banner
.banner {
  position: relative;
  color: $main-white;
  height: 100vh;

  .banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgb(46, 74, 93);

    .bg-image {
      position: absolute;
      top: 0;
      bottom: 0;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }

    img {
      @include forSmall {
        position: absolute;
        right: 0;
        max-width: none;
        width: auto;
      }
    }
  }

  .banner-main {
    padding: 2rem 0;
    text-align: center;
    height: 100%;
    background-color: rgba(46, 74, 93, .9);

    .bg-fog {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include bgCircleGradient($main-yellow 0%, $dark-blue 50%);
      opacity: 0.125;
    }

    @include forSmall {
      padding: 1.5rem 0;
    }

    .title-head {
      @include forSmall {
        margin-bottom: 1rem;
      }

      .app-name {
        .logo {
          margin-right: 10px;
          height: 45px;

          @include forSmall {
            display: inline-flex;
            height: 1.5rem;
          }
        }

        .app-full-name {
          font-family: $quickSand;
          display: inline-block;
          margin-bottom: 0;
          font-size: 2rem;

          @include forSmall {
            position: relative;
            font-weight: 500;
            font-size: 1.125rem;
            color: $light-yellow;
          }
        }
      }

      .app-slogan {
        font-family: $quickSand;
        font-size: 1.125rem;
        font-weight: 300;

        @include forSmall {
          position: relative;
          font-weight: 100;
          color: $light-yellow;
        }
      }
    }

    .app-badges {
      margin-bottom: 1.5rem;

      .app-badge {
        font-family: $sourceSansProBlack;
        font-size: 2.75rem;
        line-height: 1.2;
        margin-bottom: 0;
        @include textGradient();

        @include forSmall {
          font-size: 1.5rem;
        }
      }
    }

    .download-btns {

      .btn-download-app {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }

    .register-form {

      .title {
        margin-bottom: 1.25rem;
        font-size: 1.125rem;
        font-family: $sourceSansProItalic;

        @include forSmall {
          font-size: 1rem;
        }

        .free-text {
          font-family: $sourceSansProBlackItalic;
          color: $light-blue;
        }
      }

      .form-email {
        display: inline-block;
        position: relative;
        height: 60px;
        max-width: 100%;

        fieldset {
          &.disabled {
            @include webkitFilter(blur(5px) brightness(35%));
            @include transition(filter .5s ease-out);
          }
        }

        .email-input {
          height: 60px;
          width: 550px;
          max-width: 100%;
          padding: 1.25rem 5.75rem 1rem 2rem;
          border-radius: 5px;
          border: 0;

          &::placeholder {
            font-family: $sourceSansPro;
            font-style: italic;
            font-size: 1.5rem;
            color: #828f94;
            font-weight: 300;

            @include forSmall {
              font-size: 1.25rem;
            }
          }

          &:focus {
            @include boxShadow(0 0 10px 0 $light-blue);
          }

          &.danger {
            color: $main-red;
          }
        }

        .btn-submit {
          @include borderRadius(5px);

          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          height: 60px;
          width: 60px;
          border: 0;
          font-size: 2rem;
          color: $dark-blue;
          background-color: $light-yellow;
        }

        .email-notif {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          padding: 1rem;
          background: transparent;
          border-radius: 5px;

          &::before {
            display: inline-block;
            position: absolute;
            right: 7px;
            top: 5px;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "";
          }
        }
      }
    }

    .time-remaining {
      .title {
        font-size: 0.875rem;
        padding: 1.5rem 0;
        font-weight: 300;
        margin-bottom: 0;
      }

      .time-block {
        display: inline-block;
        color: $light-yellow;

        @include forSmall {
          padding: 0 0.5rem;
        }

        .timer {
          @include borderRadius(4px);

          position: relative;
          width: 100%;
          padding: 1rem;
          border: 1px solid $light-yellow;
          font-size: 2rem;
          line-height: 1;
          margin-bottom: 0.5rem;

          @include forSmall {
            font-size: 1.5rem;
            padding: 0.5rem;
          }

          .timer-animate {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 1rem;

            @include forSmall {
              padding: 0.5rem;
            }

            &.old {
              top: 0;
              opacity: 1;
            }

            &.new {
              top: -100%;
              opacity: 0;
            }
          }
        }
      }
    }

  }
}

//  Intro
.intro {
  .part-body {
    .title {
      position: relative;
      padding-bottom: 1rem;
      font-size: 2.25rem;
      font-family: $sourceSansProSemibold;
      margin-bottom: 2rem;

      @include forSmall {
        padding-right: 15px;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      &::after {
        @include bottomLineGradient($main-yellow, $main-blue, 65%, 2px);
        @include forSmall {
          height: 0;
        }
      }
    }

    .intro-cover {
      img {
        margin-top: -15%;
        @include forSmall {
          margin-top: 0;
        }
      }
    }

    .content {
      line-height: 1.5rem;
    }
  }
}

//  Features
.features {
  color: $dark-blue;

  .slider {
    position: relative;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;

    @include forSmall {
      margin-bottom: 1.5rem;
    }

    .list {
      position: relative;
      margin-bottom: 1.5rem;

      img {
        width: 100%;
      }

      .slide-frame {
        position: relative;
        width: 60%;
        left: 20%;
        right: 20%;
        z-index: 10;
      }

      .slide-item {
        $hiddenWidth: 35%;
        position: absolute;
        width: $hiddenWidth;
        left: (100% - $hiddenWidth) / 2;
        right: (100% - $hiddenWidth) / 2;
        top: 15%;
        z-index: 8;
        opacity: 0.25;
        cursor: pointer;
        @include transition(width 1s, top 1s, left 1s, right 1s, z-index 1s);

        &.active {
          width: 42%;
          left: 29%;
          right: 29%;
          top: 11.5%;
          z-index: 11;
          opacity: 1;
          @include transition(width 1s, top 1s, left 1s, right 1s, opacity 0.25s);

        }

        &.left {
          left: 0;
          right: 100% - $hiddenWidth;
          z-index: 9;
          @include transition(width 1s, top 1s, left 1s, right 1s, z-index 1.25s, opacity 1.25s);

        }

        &.right {
          left: 100% - $hiddenWidth;
          right: 0;
          z-index: 9;
          @include transition(width 1s, top 1s, left 1s, right 1s, z-index 1.25s, opacity 1.25s);

        }
      }
    }

    .navigator {
      text-align: center;

      .pointer {
        display: inline-block;
        padding: 0 0.5rem;
        cursor: pointer;

        .content {
          @include borderRadius(1rem);
          display: table-cell;
          vertical-align: middle;
          width: 2rem;
          height: 2rem;
          border: 1px solid $dark-blue;
          color: $dark-blue;
          text-align: center;
        }

        &.active {
          .content {
            background: $dark-blue;
            color: $light-yellow;
          }
        }
      }
    }
  }

  .feature-list {
    list-style: none;
    font-size: 1.125rem;

    .feature-item {
      color: $dark-blue;
      text-align: justify;
      cursor: pointer;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-bottom: 1rem;

      &.active {
        color: $dark-yellow;
      }

      .title {
        font-family: $sourceSansProSemibold;
        text-transform: uppercase;
        font-size: 1.5rem;
      }

      .content {
        line-height: 1.5rem;
      }
    }
  }
}

//  Benefit
.benefits {
  .benefit-list {
    .benefit-item {
      margin-bottom: 1.5rem;

      .wrapper {
        @include boxShadow(0px 0 90px 0px #E0E0E0);
        @include borderRadius(5px);
        padding: 5% 10%;
        height: 100%;

        @include forSmall {
          padding: 2rem 15px 0;
          margin-top: 2rem;
          border: 1px solid #ebe9e8;
          height: auto;
          @include boxShadow(none);
        }

        .cover {
          margin-bottom: 5%;

          @include forSmall {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            margin-bottom: 0;
            text-align: center;
          }

          img {
            width: 3.5rem;

            @include forSmall {
              background-color: #fff;

            }
          }
        }

        .title {
          color: #2e4a5d;
          font-size: 2rem;
          font-weight: 400;
        }

        .content {
          color: #666666;
          margin-bottom: 0;
        }
      }
    }
  }
}

//  Btn joint to Facebook
.joint-fb {
  padding: 5.5rem 0;

  @include forSmall {
    padding: 2rem 0;
  }

  .wrapper {
    position: relative;
    padding: 3.5rem 0;

    @include forSmall {
      padding: 1rem 0;
    }

    .main {
      position: relative;
      z-index: 10;

      .title {
        font-family: $sourceSansProBlack;
        font-size: 3rem;
        color: $main-white;
        text-align: center;
        margin-bottom: 2.5rem;

        @include forSmall {
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
        }
      }

      .btn-joint-fb {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 10rem;
        font-size: 1.5rem;
        color: $dark-blue;
        background: rgba(255, 255, 255, 0.55);
        @include borderRadius(5px);

        @include forSmall {
          padding: 1rem 2rem;
        }

        .icon {
          font-size: 2.5rem;
          padding: 0 1rem;
        }

        .text {

        }
      }
    }

    .background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      border-radius: 5px;

      .img-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        border-radius: 5px;

        img {
          width: 100%;
          min-height: 100%;
        }
      }

      .fog {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.7;
        border-radius: 5px;
        @include bgLinearGradient();
      }
    }
  }
}

//  Part
.container-part {
  position: relative;
  padding: 1.5rem 0;
  height: 100vh;
  -ms-flex-line-pack: distribute;
  align-content: space-around;

  @include forSmall {
    height: auto;
    padding-bottom: 2rem;
  }

  .part-index {
    cursor: pointer;

    @include forSmall {
      padding-top: 1rem;
      padding-bottom: 1.5rem;
    }

    .number {
      font-family: $sourceSansProBlack;
      font-size: 10rem;
      line-height: 80%;
      color: #ebebeb;
      padding-right: 1rem;

      @include forSmall {
        font-size: 6.25rem;
        padding-right: 0.5rem;
      }
    }

    .title {
      font-size: 2.5rem;
      line-height: 120%;
      margin-bottom: 0;
      font-weight: 700;
      text-transform: uppercase;
      text-align: left;
      @include textGradient(#b9a47d, #62798c);

      @include forSmall {
        font-size: 1.75rem;
      }
    }

  }

  .bottom-line-circle {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    bottom: -0.75rem;
    @include borderRadius(0.75rem);

    @include forSmall {
      width: 1rem;
      height: 1rem;
      bottom: -0.5rem;
    }

    &.left {
      left: 0;
      background-color: $main-yellow;

      @include forSmall {
        left: 0.5rem;
      }
    }

    &.right {
      right: 0;
      background-color: $main-blue;

      @include forSmall {
        right: 0.5rem;
      }
    }
  }

  .bottom-line {
    @include bottomLineGradient($main-yellow, $main-blue);

    @include forSmall {
      left: 0.5rem;
      right: 0.5rem;
      width: initial;
    }
  }
}
